@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: top;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
    height: 100vh;
}

header h1{
    font-size: 40px;
    text-align: center;
}

header {
    padding: 16px;
    background-color: white;
    box-shadow: 2px 0 5px black;
    width: 100%;
}

.content {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    gap: 16px;
    width: 80%;
    align-self: center;
}

.card {
    background-color: #e6e5cb;    ;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap:16px;
    transition: 2s;
}

.card div{
    background-color: white;
    padding: 16px;
    border-radius: 10px;
}

.card div:hover {
    background-color: rgb(219, 218, 218);
}


div .read-book {
    background-color: rgb(134, 168, 134);
}

div .read-book:hover {
    background-color: rgb(99, 122, 99);
    cursor: pointer;

}

div .unread-book {
    background-color: rgb(209, 114, 102);
}

div .unread-book:hover {
    background-color: rgb(155, 88, 80);
    cursor: pointer;
}

#input-read {
    width: 30px;
}

.new-book {
    width: 80%;
    text-align: right;
}

.material-icons.md-48 { font-size: 60px; text-align: right;}
.material-icons.md-48:hover { font-size: 60px; color: #d6a972; cursor: pointer;}

form {
    /* flex */
    display: none;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    gap: 16px;
    width: 200px;
    background-color: rgba(92,71,53, 0.8);
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

form input, button {
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    outline: none;
    border: 0;
}

form button {
    font-size: 20px;
}

.read {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.silent-background{
    width: 100%;
    height: 100%;
    background-color: rgb(196, 193, 193, 0.5);
    position: fixed;
    display: none;
}






